<nav>
  <ul>
    <li>2019&copy;</li>
    <li>Code Fellows 301d53</li>
    <li><a href="https://github.com/CinemaQuest/cinemaQuest">Our GitHub Repo</a></li>
  </ul>
</nav>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/assets/js/app.js"></script>