<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/newMovie">Search For Movie</a></li>
    <li><a href="/showMovie">See My Movies</a></li>
    <li><a href="/aboutUs">About Us</a></li>
  </ul>
</nav><br>
<img id="logo" src="../assets/img/logo.png" alt="filmreel">
