<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./views/partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include('./views/partials/header')-%>
  </header>
  <main>
    <h1>Cinema Quest</h1>
    <article>
      <h2>Welcome to Cinema Quest!</h2> <br>
      <p>Want to watch a movie tonight and want us to narrow the search down for you? Then you are in the right place! Below are two buttons, If you have been here with us before then all of your added movies are stored within the 'My Movies' tab. If you are new to this site then click the 'New Search to begin a search. You will be given 3 options for a movie to watch tonight!</p>
    </article> <br>

    <button type="submit" onclick="window.location.href = '/newMovie';"></a>New Search</button> <br>
    <button type="submit" onclick="window.location.href = '/showMovie';"></a>My Movies</button>


  </main>
  <footer>
      <%-include('./views/partials/footer')-%>
  </footer>
</body>

</html>