<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./views/partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include('./views/partials/header')-%>
  </header>
  <main>
    <h1>Cinema Quest</h1>
    <article>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem totam temporibus consequatur nihil laudantium quisquam possimus accusamus ratione quaerat libero, similique cum aliquid, minus fugit fugiat sequi voluptatibus officia enim!
      Ullam quas maxime tempore recusandae enim, fugit consequuntur natus repudiandae? Odio exercitationem amet voluptatem blanditiis iste, minus commodi numquam, iusto minima fugiat ab non quod error. Odit laboriosam atque iste!
      Ipsam totam veritatis, praesentium fuga sint, amet, harum asperiores eaque vel doloremque temporibus odit. Quas beatae optio incidunt nobis dolorum ipsum eligendi, labore perferendis obcaecati numquam minima. Vero, ullam neque!
      Aspernatur corrupti magni voluptates sequi provident eius perspiciatis dolorem ad laudantium! Quisquam reprehenderit deserunt nam sunt rerum! Dolore doloribus eaque, culpa sint incidunt tempore eum repellat facilis sapiente rem. Assumenda.
      Eum beatae dignissimos at vitae quidem perferendis, alias earum. Ullam distinctio magnam vero vitae quia recusandae ducimus minima natus, ad magni quibusdam excepturi temporibus eaque dicta? Quae cupiditate eum blanditiis.
      Est exercitationem aliquid quisquam unde ullam neque. Odit, illum quibusdam? Quas similique maiores, quo aut vitae asperiores, doloribus amet fugiat tempora aliquam explicabo, libero animi laboriosam eveniet facere. Quo, non!
    </article>

  </main>
  <footer>
      <%-include('./views/partials/footer')-%>
  </footer>
</body>

</html>