<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../../partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include('../../partials/header')-%>
  </header>
  <main>
    <article>
      Hello About Us
    </article>

  </main>
  <footer>
    <%-include('../../partials/footer')-%>
  </footer>
</body>

</html>