<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../../partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body class="about-us">
  <header>
    <%-include('../../partials/header')-%>
  </header>
  <main>
    <article>
      Hello About Us
    </article>
    <section>
      <img id="terell" src="/assets/img/terrell.jpg" alt="Terrell Img">
      <div>Terrell</div>
      <div>Movie: </div>
      <div>Cuisine: </div>
      <img id="ran" src="/assets/img/ran.jpg" alt="Ran Img">
      <div>Ran</div>
      <div>Movie: The Lord of the Rings: The Fellowship of the Ring</div>
      <div>Cuisine: Indian</div>
      <img id="sean" src="/assets/img/sean.jpg" alt="Sean Img">
      <div>Sean</div>
      <div>Movie: The Dark Knight</div>
      <div>Cuisine: Italian</div>
      <img id="kevin" src="/assets/img/kevin.jpg" alt="Kevin Img">
      <div>Kevin</div>
      <div>Movie: </div>
      <div>Cuisine: </div>
    </section>
  </main>
  <footer>
  </footer>
</body>

</html>