<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('../../partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include('../../partials/header')-%>
  </header>
  <main>
    <article>
      Hello About Us
    </article>
    <section>
      <div>Terrell</div>
      <div>Ran</div>
      <div>Sean</div>
      <div>Kevin</div>
    </section>
  </main>
  <footer>
  </footer>
</body>

</html>