<!DOCTYPE html>
<html lang="en">

<head>
	<%-include('../../partials/head')-%>
	<title>Cinema Quest</title>
</head>

<body>
	<header>
		<main>
		<%-include('../../partials/header')-%>
	</header>
	<!--this partial renders data from the zomato api on the page-->
		
		<% restData.forEach(food => { %>
			<div id="search-result">
                    <p>Name: <%= food.name %></p> <br>
                    <p><a href="<%= food.menu_url %>" target="_blank">Menu</a></p> <br>
			</div>
		<% }); %>

		<!-- <img id="reroll" src="reroll.png" alt="Re-Roll"> -->
	</main>
	<footer>
	</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="../../../public/assets/js/app.js"></script>
</body>

</html>