<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./partials/head')-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include('./partials/header')-%>
  </header>
  <main>
    <h1>Cinema Quest</h1>
    <article>
      Hello New
    </article>

  </main>
  <footer>
      <%-include('./partials/footer')-%>
  </footer>
</body>

</html>