<!DOCTYPE html>
<html lang="en">

<head>
	<%-include('../../partials/head')-%>
	<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>

	<title>Cinema Quest</title>
</head>

<body>
	<header>
		<%-include('../../partials/header')-%>
	</header>
	<main>
		<main>
			<div class="searchMovie">Search Movie</div><br><br>
			<form class="newForm flexField" action="/searches" method="post">
				<fieldset>
					<label for="search">Search By Genres <br><br>
						<input type="checkbox" name="search" value="28">Action
						<input type="checkbox" name="search" value="12">Adventure
						<input type="checkbox" name="search" value="16">Animation
						<input type="checkbox" name="search" value="35">Comedy
						<input type="checkbox" name="search" value="80">Crime<br>
						<input type="checkbox" name="search" value="99">Documentary
						<input type="checkbox" name="search" value="18">Drama
						<input type="checkbox" name="search" value="10751">Family
						<input type="checkbox" name="search" value="14">Fantasy
						<input type="checkbox" name="search" value="36">History<br>
						<input type="checkbox" name="search" value="27">Horror
						<input type="checkbox" name="search" value="10402">Music
						<input type="checkbox" name="search" value="9648">Mystery
						<input type="checkbox" name="search" value="10749">Romance
						<input type="checkbox" name="search" value="878">Science Fiction<br>
						<input type="checkbox" name="search" value="10770">TV Movie
						<input type="checkbox" name="search" value="53">Thriller
						<input type="checkbox" name="search" value="10752">War
						<input type="checkbox" name="search" value="37">Western <br><br>
					</label>
					<br>
					<br>

					<label for ="search ">Search By 
						Score: <span id="spanOutput"></span>
						<br><br>
						<div id="slider" ></div>
						<br>
						<label for="txtMinScore" class="hiddenClass">Minimum score</label>
						<input type="text" id="txtMinScore" class="hiddenClass" name="scoreMin">
						<br>
						<label for="txtMaxScore" class="hiddenClass">Maximum score</label>
						<input type="text" id="txtMaxScore" class="hiddenClass" name="scoreMax" >


					</label>

				</fieldset>
				<div class="buttonDiv">
					<button class="introButton" type="submit" id="hi">submit</button>
				</div>
			</form>
		</main>
		<footer>
			<%-include('../../partials/footer')-%>
		</footer>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="../../../public/assets/js/app.js"></script>
</body>

</html>