<!DOCTYPE html>
<html lang="en">

<head>
  <%-include(../views/partials/head)-%>
  <title>Cinema Quest</title>
</head>

<body>
  <header>
    <%-include(../views/partials/header)-%>
  </header>
  <main>

  </main>
  <footer>
      <%-include(../views/partials/footer)-%>
  </footer>
</body>

</html>