*{
  background-color: #C6F1E7
}

img{
  width: 200px;
  height: 300px;
}

.inputs{
  display: none;
}

#search-result{
  border: 3px solid black;
  background-color: darkgrey;
}

p{
  background-color: transparent;
}

form{
  background-color: transparent;
}

