main{
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

#search-result{
  width: 400px;
  align-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

img{
  display: flex;
  align-self: center;
}

#reroll{
  width:20vh;
  height:20vh;
  opacity: 1;
}

#reroll:hover{
  opacity: .65;
          transform: rotate(-15deg);
}


nav{
  display: flex;
}

nav>ul>li{
  width: 200px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}

.buttonDiv{
  display: flex;
justify-content: center
}

.introButton{
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
}

