<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('./../partials/head')-%>
  <title>Error Page</title>
</head>

<body>
  <header>
    <%-include('./../partials/header')-%>
  </header>

  <main>
    <h1>We're sorry, an error occured while loading page. Please try again later.</h1>
    <img src="../../public/nemo copy.jpg" alt="NOT FOUND">
    
  </main>

  <footer>
      <%-include('../../partials/footer')-%>
  </footer>
</body>

</html>